{% include 'base.html' %}
{% block content %}
<div class = "flex  justify-center">
<div class="w-full mt-4 max-w-4xl text-center bg-white shadow-lg rounded-xl overflow-hidden">
    <div class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl font-bold text-center">Informasi Akun</h1>
    </div>
    
    <div class="p-6 space-y-4 ">
        <div class="bg-gray-50 p-4 rounded-lg flex items-center justify-between">
            <div class="flex justify-between">
                <p class="text-gray-600 mr-6">
                    Nomor HP: 
                    <span class="text-black font-semibold">{{ user.3 }}</span>
                </p>
                <p class="text-gray-600 ">
                    Saldo: 
                    <span class="text-green-600 font-bold">Rp {{ user.7 }}</span>
                </p>
            </div>
            
            <div class="flex justify-center">
                <a href="{% url  'mypay:show_transaction_form' %}"
                    class="w-full px-4 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Lakukan Transaksi
                </a>
            </div>
        </div>

        

        <div class="space-y-4">
            <h2 class="text-xl font-semibold text-gray-700 text-center">Riwayat Transaksi</h2>
            {% for transaksi in list_transaksi %}
                <div class="bg-white border rounded-lg p-4 shadow-sm text-center">
                    <div class="flex flex-row justify-between">
                        {% if transaksi.0 < 0 %}
                        <p class="text-red-500 text-lg">
                             Rp {{ transaksi.0 }}
                        </p>
                        {% else %}
                        <p class="text-green-500 text-lg">
                             Rp {{ transaksi.0 }}
                        </p>
                        {% endif %}
                        <p class="text-gray-500 text-lg">
                            {{ transaksi.1 }}
                        </p>

                        <p class="text-gray-600">
                            {{ transaksi.2 }}
                       </p>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<script>
    
</script>
{% endblock content %}