<nav class="bg-white shadow-xl">
    <div class="flex justify-between px-6">
        <div class="flex space-x-7">
            <a href="{% url 'home' %}" class="flex items-center py-2">
                <!-- SIJARTA dengan gaya gradasi yang sama seperti homepage -->
                <span class="font-extrabold text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#3163ea] to-blue-600">
                    Sijarta
                </span>
            </a>
        </div>

        <div class="hidden md:flex items-center py-3 ml-24 space-x-1">
            {% if logged_in %}
                <a href="{% url 'home' %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 rounded-lg text-lg text-gray-500 hover:text-gray-900 transition duration-300">Home</a>
                <a href="{% url 'mypay:show_mypay' %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 text-gray-500 rounded-lg text-lg hover:text-gray-900 transition duration-300">MyPay</a>

                {% if is_pelanggan %}
                    <a href="{% url 'kelola_status_pesanan' user.0 %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 text-lg text-gray-500 rounded-lg hover:text-gray-900 transition duration-300">Kelola Pesanan Saya</a>
                    <a href="{% url 'diskon' %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 text-lg text-gray-500 rounded-lg hover:text-gray-900 transition duration-300">Diskon</a>
                {% else %}
                    <a href="{% url 'pekerjaan_jasa' %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 text-lg text-gray-500 rounded-lg hover:text-gray-900 transition duration-300">Kelola Pekerjaan Saya</a>
                    <a href="{% url 'status_pekerjaan_jasa' %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 text-lg text-gray-500 rounded-lg hover:text-gray-900 transition duration-300">Kelola Status Pekerjaan</a>
                {% endif %}
                <a href="{% url 'profile' user.0 %}" class="py-2 px-3 bg-gray-100 hover:bg-gray-300 rounded-lg text-lg text-gray-500 hover:text-gray-900 transition duration-300">Profil</a>
            {% else %}
                <div class="flex items-center space-x-3">
                    <!-- Tombol Login dan Register yang lebih stylish -->
                    <a href="{% url 'login' %}" class="px-8 py-3 bg-[#3163ea] hover:bg-blue-700 font-medium text-xl text-white rounded-full hover:text-gray-900 transition duration-300 shadow-md">
                        Login
                    </a>
                    <a href="{% url 'register' %}" class="px-8 py-3 border-2 border-[#3163ea] text-[#3163ea] rounded-full hover:bg-[#3163ea] hover:text-white transition duration-300">
                        Register
                    </a>
                </div>
            {% endif %}
        </div>

        {% if logged_in %}
        <div class="md:flex hidden items-center space-x-2">
            <p class="py-2 px-4 font-medium text-xl text-gray-700 rounded transition duration-300">
                {{ user.1 }}
                {% if is_pelanggan or user_who_access_is_pelanggan %}
                (Pelanggan)
                {% else %}
                (Pekerja)
                {% endif %}
            </p>
            
            <a href="{% url 'logout' %}" class="py-2 px-4 font-medium text-white bg-red-500 rounded hover:bg-red-600 transition duration-300">
                Logout
            </a>
        </div>
        {% endif %}

        <div class="md:hidden flex items-center">
            <button class="outline-none mobile-menu-button">
                <svg class="w-6 h-6 text-gray-500 hover:text-gray-900" 
                     x-show="!showMenu"
                     fill="none" 
                     stroke-linecap="round" 
                     stroke-linejoin="round" 
                     stroke-width="2" 
                     viewBox="0 0 24 24" 
                     stroke="currentColor">
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="hidden mobile-menu md:hidden">
        <ul class="px-4 pt-2 pb-3 space-y-1 sm:px-3">
            {% if logged_in %}
                <li>
                    <a href="{% url 'home' %}" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Home</a>
                </li>
                <li>
                    <a href="#" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">MyPay</a>
                </li>
                
                {% if is_pelanggan %}
                    <li>
                        <a href="#" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Kelola Pesanan Saya</a>
                    </li>
                    <li>
                        <a href="#" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Diskon</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Kelola Pekerjaan Saya</a>
                    </li>
                    <li>
                        <a href="#" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Kelola Status Pekerjaan</a>
                    </li>
                {% endif %}
                
                <li>
                    <a href="{% url 'profile' user.0 %}" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Profil</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="block px-3 py-2 rounded text-white bg-red-500 hover:bg-red-600 transition duration-300">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}" class="block px-3 py-2 hover:text-blue-600 hover:bg-blue-100 transition duration-300">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="block px-3 py-2 rounded hover:bg-blue-100 transition duration-300">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>
