{%extends 'base.html'%}
{%block coontent%}
<ul class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
    <li>
        <p href="/" class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Home</a>
    </li>
    <li>
        <p class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">MyPay</p>
    </li>
    
    
        <li>
            <p class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Kelola Pesanan Saya</p>
        </li>
        <li>
            <p class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Diskon</p>
        </li>
    
    
    <li>
        <p class="block px-3 py-2 rounded text-gray-500 hover:text-gray-900 hover:bg-gray-100 transition duration-300">Profil</p>
    </li>
    <li>
        <p class="block px-3 py-2 rounded text-white bg-red-500 hover:bg-red-600 transition duration-300">Logout</p>
    </li>

</ul>
{%endblock coontent%}
